/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* font imports */

/*
Glegoo and Playfair_Display obtained from Google Fonts.

Glegoo created by Eduardo Tunni. 
Found at https://fonts.google.com/specimen/Glegoo?stroke=Slab+Serif

Playfair_Display created by Claus Eggers Sørensen.
Found at https://fonts.google.com/specimen/Playfair+Display?stroke=Serif

*/

@font-face {
  font-family: 'playfairdisplay';
  src: url('fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.eot');
  src: url('fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.eot#iefix') format('embedded-opentype'),
  url('fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
  url('fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.woff') format('woff'),
  url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'),
  url('fonts/Playfair_Display/playfairdisplay-variablefont_wght-webfont.svg#playfairdisplay') format(svg);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'glegoo';
  src: url('fonts/Glegoo/glegoo-bold-webfont.eot');
  src: url('fonts/Glegoo/glegoo-bold-webfont.eot#iefix') format('embedded-opentype'),
  url('fonts/Glegoo/glegoo-bold-webfont.woff2') format('woff2'),
  url('fonts/Glegoo/glegoo-bold-webfont.woff') format('woff'),
  url('fonts/Glegoo/glegoo-bold-webfont.ttf') format('truetype'),
  url('fonts/Glegoo/glegoo-bold-webfont.svg#gleegoo') format('svg');
  font-weight: normal;
  font-style: normal;
}



html{
  font-family: 'playfairdisplay', serif;
  font-size: 10px;
}

h1, h2{
  font-family: 'gleegoo', sans-serif ;
  letter-spacing: 2px;
}

h1{
  font-size: 5rem;
  text-align: center;
}

h2{
  font-size: 3.2rem;
}

section h2 + p{
  text-indent: 20px;
}

p, li{
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

/* Link styling */

a{
  outline: none;
}

a[href="http"]{
  padding-right: 19px;
  background: ('external-link-52.png') no-repeat 100% 0;
  background-size: 16px 16px;
}

a:link, a:visited{
  color: blue;
}

a:focus, a:visited{
  text-decoration: none;
}

a:active{
  color:transparent;
  text-shadow: 0px 0px 1px orange,
  0px 0px 2px orange, 
  0px 0px 3px black,
  0px 0px 4px black;
}

ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

/* NAV Menu */

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}


nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}


nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid blue;
}



nav li a:focus, nav li a:hover {
  color:grey;
  background:blue;
}

nav li a:active {
  color:grey;
  background:black;
}